*{
    margin: 0; padding: 0;
}

button{
    width: 200px;
    height: 200px;
}

.msg_box{
    width: 500px;
    height: 200px;
    background-color: salmon;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 1s;
}

.on{
    opacity: 1;
}